{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque est libero. Id, nam, sit. Amet eius expedita nisi sapiente tenetur? Blanditiis commodi distinctio hic maxime nisi nostrum vel vero?</p>
    </div>
{% endblock %}